html {
    background-color: #eee;
}

body, .title, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Serif", serif;
    line-height: 1.4em;
    font-weight: 340;
    color: #222;
    /*font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;*/
}

.title, h1, h2, h3, h4, h5, h6 {
    /*font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;*/
    font-weight: bolder;
}

body > div > header, h1.site-title, body > div > footer {
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;*/
}

main, div.entry-content > p, div.entry-content > ul, div.entry-content > ol {
    line-height: 1.5em;
    font-size: 1.0em;
    font-weight: 340;
    color: #222;
}

h1.title {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
}

#recent-posts {
    background-color: rgba(64, 224, 208, .1);
    padding: 2em;
    border-radius: 1em;
}

#header {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8C00, #FF0080, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8C00, #FF0080, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header nav, #header .header-info, #header .title, #header a {
    color: #fff;
}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
}

#header h1.site-title {
    font-weight: lighter;
    /*text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);*/
}

.site-title-minified {
    color: #fff;
    margin-top: 0.605em;
    margin-bottom: 1em;
    font-weight: lighter;
    font-size: 2em;
}

p.site-description {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
}

.home-section > p {
    color: #777;
    font-weight: lighter;
}

.header-info .subtitle, .header-info .taxonomy-type {
    font-style: normal;
}

h3.list-item-title {
    font-weight: bolder;
}

b, strong {
    font-weight: 550;
}

.list-item-description {
    color: #777;
    font-size: .875em;
    margin-top: .875em;
}

.list-item .meta span > time {
    color: #777;
}

#main {
    margin-top: 2em;
    min-height: 50vh;
}

.entry .meta span, .entry .meta span a {
    font-style: normal;
    color: #444;
    font-weight: lighter;
}

footer.entry-footer-container {
    display: none;
}

#footer {
    margin-top: 2em;
    background-color: #eee;
}

#footer, footer a {
    color: #777;
}

.header::after {
    margin-top: 2em;
    margin-bottom: 1em;
    opacity: 0;
}

.footer::before {
    border: none;
}

code.inline, p code, li code {
    font-family: "Roboto Mono", monospace;
    background-color: rgba(0, 0, 0, 0.075);
    color: #000;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.2em;
    font-size: 0.9em;
}

span.filename.beforecode {
    font-family: "Roboto Mono", monospace;
    /*font-family: Menlo,Consolas,Monaco,Ubuntu Mono,Liberation Mono,Lucida Console,monospace;*/
    color: #777;
    font-size: 0.75em;
    margin-bottom: 0;
    background: #212121;
    padding: 8px 20px 8px 22px;
}

pre {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 0.675em;
    border-radius: 1em;
}

.entry-content a {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #999;
    text-decoration-thickness: 0.01em;
}

.entry-content a:hover {
    color: #000;
    text-decoration-color: #444;
}

h3 a {
    text-decoration: none !important;
}

.floatright {
    float: right;
}

.ml-5 {
    margin-left: 2em;
}

blockquote {
    font-size: 1em;
    font-style: normal;
    margin: 0 0 1.5em;
    padding-left: 1em;
    border-left: .2em solid #FF8C00;
    color: #888;
}
